*{
    margin:0px; 
    border: 0px; 
    padding:0px;
    background-color: #d0e0eb;
}

@media screen and (min-width:1000px){

    #div1{
        width:100%;
        text-align: center;
        position: relative;
        top:100px;
    }
    #foto{
        width: 550px;
    }

}